<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th class="td-id" scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Position</th>
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i < employees.length; i++) { %>
      <tr>
        <td class="td-id"><%= employees[i].id.substr( employees[i].id.length - 6 ) %></td>
        <td><%= employees[i].firstName %></td>
        <td><%= employees[i].lastName %></td>
        <td><%= employees[i].position %></td>
        <td class="td-action">
          <div>
           <a href="/show/<%= employees[i].id %>">
            <button type="button" class="btn btn-light" title="show">
              <i class="fa fa-eye"></i>
            </button>
           </a>
           <a href="/edit/<%= employees[i].id %>">
            <button type="button" class="btn btn-light" title="edit">
              <i class="fa fa-edit"></i>
            </button>
          </a>
          <a href="/delete/<%= employees[i].id %>">
            <button type="button" class="btn btn-light" title="delete">
              <i class="fa fa-trash"></i>
            </button>
          </a>
          </div>
        </td>
      </tr>
   <% } %>
   </table>

  </tbody>
</table>
